<label for="collectionName">
	<f:translate key="tx_dam_domain_model_collection.collection_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="collectionName" /><br />
<label for="description">
	<f:translate key="tx_dam_domain_model_collection.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="visibility">
	<f:translate key="tx_dam_domain_model_collection.visibility" />
</label><br />
	<f:form.textfield property="visibility" /><br />