<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Filter</h1>

<f:flashMessages />

<table  class="tx_dam" >
	<tr>
		<th><f:translate key="tx_dam_domain_model_filter.filter_name" /></th>
		<th><f:translate key="tx_dam_domain_model_filter.description" /></th>
		<th><f:translate key="tx_dam_domain_model_filter.criteria" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{filters}" as="filter">
		<tr>
			<td><f:link.action action="show" arguments="{filter : filter}"> {filter.filterName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{filter : filter}"> {filter.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{filter : filter}"> {filter.criteria}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{filter : filter}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{filter : filter}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Filter</f:link.action>
</f:section>