<label for="filterName">
	<f:translate key="tx_dam_domain_model_filter.filter_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="filterName" /><br />
<label for="description">
	<f:translate key="tx_dam_domain_model_filter.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="criteria">
	<f:translate key="tx_dam_domain_model_filter.criteria" />
</label><br />
	<f:form.textarea property="criteria" cols="40" rows="15" /><br />