<table class="tx-dam" >
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.title" />
		</td>
		<td>
			{asset.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.description" />
		</td>
		<td>
			{asset.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.keywords" />
		</td>
		<td>
			{asset.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.mime_type" />
		</td>
		<td>
			{asset.mimeType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.extension" />
		</td>
		<td>
			{asset.extension}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.creation_date" />
		</td>
		<td>
			{asset.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.modification_date" />
		</td>
		<td>
			{asset.modificationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.creator_tool" />
		</td>
		<td>
			{asset.creatorTool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.download_name" />
		</td>
		<td>
			{asset.downloadName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.identifier" />
		</td>
		<td>
			{asset.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.creator" />
		</td>
		<td>
			{asset.creator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.source" />
		</td>
		<td>
			{asset.source}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.alternative" />
		</td>
		<td>
			{asset.alternative}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dam_domain_model_asset.caption" />
		</td>
		<td>
			{asset.caption}
		</td>
	</tr>
</table>