<table class="tx-media" >
	<tr>
		<td>
			<f:translate key="tx_media.title" />
		</td>
		<td>
			{asset.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.description" />
		</td>
		<td>
			{asset.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.keywords" />
		</td>
		<td>
			{asset.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.mime_type" />
		</td>
		<td>
			{asset.mimeType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.extension" />
		</td>
		<td>
			{asset.extension}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creation_date" />
		</td>
		<td>
			{asset.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.modification_date" />
		</td>
		<td>
			{asset.modificationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creator_tool" />
		</td>
		<td>
			{asset.creatorTool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.download_name" />
		</td>
		<td>
			{asset.downloadName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.identifier" />
		</td>
		<td>
			{asset.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creator" />
		</td>
		<td>
			{asset.creator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.source" />
		</td>
		<td>
			{asset.source}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.alternative" />
		</td>
		<td>
			{asset.alternative}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.caption" />
		</td>
		<td>
			{asset.caption}
		</td>
	</tr>
</table>